{% if database.async %}
import asyncio
from flaskAPI.routers.user_routersAsync import user_router
{% else %}
from flaskAPI.routers.user_routersSync import user_router
{% endif %}


from flask import Flask
from log_config.logger_config import logger


# =========================
# Flask app
# =========================

app = Flask(
    __name__
)

app.register_blueprint(user_router)



# =========================
# Run server
# =========================

from flaskAPI.run_all import run_all


{% if database.async %}

if __name__ == "__main__":
    asyncio.run(run_all())

{% else %}

if __name__ == "__main__":
    run_all()

{% endif %}
