import subprocess
import sys
import time

from sqlalchemy.exc import OperationalError
from config.setting import api_settings



def init_db_first_user():

    try:
        subprocess.run(
            [
                "alembic",
                "upgrade",
                "head"
            ],
            check=True
        )

    except OperationalError:
        print(
            "Database is existing"
        )



def start_api():

    return subprocess.Popen(
        [
            sys.executable,
            "-m",
            "flask",
            "--app",
            "{{ api }}API.main:app",
            "run",
            "--debug",
            "--host",
            api_settings.HOST,
            "--port",
            str(api_settings.PORT),
        ]
    )



def run_all():

    init_db_first_user()

    api_process = start_api()


    try:

        while True:
            time.sleep(1)


    except KeyboardInterrupt:

        print(
            "Shutting down processes..."
        )

        api_process.terminate()

        api_process.wait()

        print(
            "Processes terminated."
        )