from sqlalchemy.orm import DeclarativeBase
from config.setting import database_settings


from typing import AsyncIterator

from sqlalchemy.ext.asyncio import (
    create_async_engine,
    async_sessionmaker,
    AsyncSession,
)


def get_engine(url: str):

    return create_async_engine(
        url,
        echo=False,
        future=True
    )


def get_sessionmaker(engine):

    return async_sessionmaker(
        bind=engine,
        autoflush=False,
        expire_on_commit=False
    )


class Base(DeclarativeBase):
    pass



async def init_db(engine):

    async with engine.begin() as conn:
        await conn.run_sync(
            Base.metadata.create_all
        )

# Real Base and SessionLocal for the application
engine = get_engine(
    url=database_settings.url_database
)
SessionLocal = get_sessionmaker(
    engine=engine
)

async def get_db() -> AsyncIterator[AsyncSession]:

    async with SessionLocal() as session:

        async with session.begin():

            try:
                yield session

            except Exception:
                await session.rollback()
                raise

# Test base engine and sessionmaker

test_engine = get_engine(
    url=database_settings.url_database_test
)
TestSessionLocal = get_sessionmaker(
    engine=test_engine
)

async def get_dbTEST() -> AsyncIterator[AsyncSession]:

    async with TestSessionLocal() as session:

        async with session.begin():

            try:
                yield session

            except Exception:
                await session.rollback()
                raise






