from sqlalchemy import select, func
from apiSync.modules.tables import User
from apiSync.schemas.user_schemas import UserCreate, UserGetById, UserGetByEmail, UserUpdate, UserDelete
from sqlalchemy.orm import Session

class UserRepository:
    # ------------------------
    # CREATE
    # ------------------------
    @staticmethod
    def create(
        session: Session,
        data: UserCreate
    ) -> User:

        user = User(
            username=data.username,
            email=data.email,
            password=data.password, 
            registration_date=data.registration_date
        )
        session.add(user)
        session.flush()

        return user

    # ------------------------
    # GET
    # ------------------------
    @staticmethod
    def get_by_id(
        session: Session,
        data: UserGetById
    ) -> None | User:

        result = session.execute(
            select(User).where(User.id == data.id) 
        )
        return result.scalar_one_or_none()


    @staticmethod
    def get_by_email(
        session: Session,
        data: UserGetByEmail
    ) -> None | User:

        result = session.execute(
            select(User).where(User.email == data.email)
        )
        return result.scalar_one_or_none()

    # ------------------------
    # UPDATE 
    # ------------------------
    @staticmethod
    def update(
        session: Session,
        data: UserUpdate
    ) -> None | User:

        user = UserRepository.get_by_id(session, data)

        if not user:
            return None

        update_data = data.model_dump(exclude_unset=True)
        update_data.pop("id", None)

        for field, value in update_data.items():
            setattr(user, field, value)

        return user


    # ------------------------
    # DELETE 
    # ------------------------
    @staticmethod 
    def delete(
        session: Session,
        data: UserDelete
    ) -> None | User:
        user = UserRepository.get_by_id(session, UserGetById(id=data.id))
        session.delete(user)
        session.flush()

        if not user:
            return None
        return user