{% if database.async %}
import asyncio
from fastapiAPI.routers.user_routersAsync import user_router
{% else %}
from fastapiAPI.routers.user_routersSync import user_router
{% endif %}


from fastapi import FastAPI
from log_config.logger_config import logger


# =========================
# FastAPI app
# =========================

app = FastAPI(
    title="Parking Manager API"
)

app.include_router(user_router)



# =========================
# Run server
# =========================


from fastapiAPI.run_all import run_all
{% if database.async %}

if __name__ == "__main__":
    asyncio.run(run_all())
{% else %}

if __name__ == "__main__":
    run_all()
{% endif %}
